<app-layout-full-page>
    <div class="cs-page">
        <div class="container">
            <div class="app-breadcrumb">
                <a [routerLink]="['']">Trang chủ</a><span>/</span><p>Dịch vụ PCCC</p> 
            </div>
            <div class="cs-list">
                <ng-container *ngFor="let item of csList">
                    <div class="cs-item">
                        <app-card [dataItem]="item"></app-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</app-layout-full-page>