<app-layout-full-page>
    <div class="home-page">
        <div class="page-decor-bg">
            <img class="page-decor-logo" src="/assets/images/logo/logo.png" alt="">
        </div>
        <!-- dashboard -->
        <div id="dashboard" class="section-dashboard">
            <div class="container">
                <div class="section-wrap">
                    <div class="left-section d-desktop">
                        <ul class="list-of-services">
                            <ng-container *ngFor="let group of sideMenu | groupBy: 'group'; let i = index">
                                <li class="category"><a href="#">{{ group.key }}</a></li>
                                <ng-container *ngFor="let item of group.value">
                                    <ng-container *ngIf="i == 0">
                                        <li><a [routerLink]="['/thiet-bi-pccc', item.id]">{{ item.name }}</a></li>
                                    </ng-container>
                                    <ng-container *ngIf="i == 1">
                                        <li><a [routerLink]="['/dich-vu', item.id]">{{ item.name }}</a></li>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="right-section fadeInLeft">
                        <div class="banner d-desktop" id="main-banner">
                            <app-bev-swiper #mainBannerCmp [src]="mainBanners"></app-bev-swiper>
                        </div>
                        <div class="about-us pane">
                            <h3><a href="#">CÔNG TY TNHH XÂY DỰNG VÀ PHÒNG CHÁY CHỮA CHÁY TIÊN PHONG</a> - Giải Pháp An Toàn Chuyên Nghiệp</h3>
                            <p>
                                <a color="primary" href="#">PCCC Tiên Phong</a> 
                                là một công ty chuyên cung cấp trang thiết bị phòng cháy chữa cháy uy tín, 
                                được thành lập vào năm 2023 và có trụ sở tại thành phố Tuyên Quang, Việt Nam. 
                                <span class="d-desktop">Với cam kết đảm bảo an toàn cho cộng đồng, <a color="primary" href="#">Tiên Phong</a> 
                                đã nhanh chóng xây dựng mục tiêu trở thành tổng kho cung cấp vật tư phòng cháy chữa 
                                cháy cho toàn bộ khu vực Tây Bắc, Việt Nam.</span>
                            </p>
                            <p class="d-desktop">Tầm nhìn của <a color="primary" href="#">PCCC Tiên Phong</a> 
                                là trở thành <span><b>một đơn vị hàng đầu trong lĩnh vực 
                                    phòng cháy chữa cháy, mang đến những giải pháp an toàn chuyên nghiệp, 
                                    hiệu quả và đáng tin cậy cho các khách hàng và đối tác</b></span>. 
                                    Chúng tôi cam kết cung cấp sản phẩm và dịch vụ chất lượng cao, 
                                    đồng thời đảm bảo giá cả hợp lý và dịch vụ hậu mãi tận tâm.
                            </p>
                        </div>
                        <div class="product">
                            <h3>Sản Phẩm Nổi Bật</h3>
                            <div class="product-list">
                                <ng-container *ngFor="let item of productList">
                                    <div class="card" [routerLink]="['/thiet-bi-pccc', item['id']]">
                                        <div class="card-img">
                                            <img [src]="item['img']" alt="">
                                        </div>
                                        <div class="card-content">
                                            <h2 class="card-title">{{ item['name'] }}</h2>
                                            <a class="card-submit">Xem thêm</a>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of dashboard -->
    </div>
</app-layout-full-page>
