@import "src/scss/responsive";
@import "src/scss/mixins";

:host {
    h1.section-title {
        font-size: 30px;
        font-weight: 600;
        color: var(--color-black-light);
        text-align: center;
        width: 100%;
    }
    .home-page {
        min-height: 100vh;
    }
    // =======DASHBOARD======= //
    .section-dashboard {
        .section {
            &-wrap {
                @include flexAJ();
                .left-section {
                    width: 300px;
                    @include --flex(0, 0, auto);
                    padding: 0 10px;
                }
                .right-section {
                    @include --flex(1, 1, 1);
                    @include desktop {
                        padding: 0 10px;
                    }
                }
            }
        }
        .list-of-services {
            li {
                position: relative;
                width: 100%;
                margin-bottom: 10px;
                
                @include border-radius(30px);
                a {
                    display: block;
                    color: var(--color-white);
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 20px;
                    
                }
                &.category {
                    &:hover {
                        a {
                            color: var(--color-primary-dark);
                        }
                    }
                }
                &:not(.category) {
                    background-color: var(--color-primary);
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        @include box-shadow(0px 0px 15px 5px #7d0002bd);
                        opacity: .4;
                        @include border-radius(30px);
                    }
                    
                    &:hover {
                        cursor: pointer;
                        @include transform(scale(1.05));
                        @include transition(.3s ease);
                        background-color: var(--color-white);
                        a {
                            color: var(--color-primary-dark);
                        }
                        &:before {
                            opacity: 0.8;
                        }
                    }
                }
                &.category {
                    a {
                        font-weight: 900;
                        font-size: 25px;
                        color: var(--color-black-light);
                    }
                }
            }
        }
        .banner {
            margin-bottom: 30px;
        }
        .about-us {
            text-align: justify;
            h3 {
                text-align: center;
                color: var(--color-black-light);
                a {
                    color: var(--color-black);
                    font-weight: 600;
                }
                p {
                    @include flexAJ(center, center);
                    @include --flexWrap(wrap);
                    text-align: center;
                    color: var(--color-black-light);
                    font-size: 14px;
                    font-weight: 300;
                    span {
                        display: block;
                        position: relative;
                        margin: 5px 10px;
                        line-height: 1.1;
                        &::before, &:after {
                            content: '';
                            position: absolute;
                            @include border-radius(50%);
                            width: 2px;
                            height: 2px;
                            background-color: var(--color-black-light);
                            top: calc(50% - 1px);
                        }
                        &::before {
                            left: -11px;
                        }
                        &::after {
                            right: -11px;
                        }
                    }
                }
            }
            p {
                font-size: 16px;
                color: var(--color-black);
            }
        }
        .product {
            margin: 30px 0;
            h3 {
                color: var(--color-black-light);
                font-weight: 700;
                font-size: 20px;
                @include desktop {
                    font-weight: 900;
                    font-size: 25px;
                }
            }
            &-list {
                $gap: 10px;
                @include flexAJ();
                @include --flexWrap();
                gap: $gap;
                .card {
                    width: calc((100% - $gap) / 2);
                    @include desktop {
                        width: calc((100% - ($gap * 2)) / 3);
                    }
                    @include lg-desktop {
                        width: calc((100% - ($gap * 3)) / 4);
                    }
                }
            }
        }
        // ======= CARD ====== //
        .card {
            $card: '.card';
            $transition-time: .4s;
            $bg: var(--color-white);
            $text: var(--color-black-light);
            $hltext: var(--color-primary);

            position: relative;
            height: 220px;
            border-radius: 20px;
            overflow: hidden;
            &-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 100;
                width: 100%;
                height: 100%;
                transition: $transition-time;
                img {
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 110px;
                }
            }
            &-content {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
                text-align: center;
                transition: #{ $transition-time * 2 };
                z-index: 90;
            }
            &-title {
                position: relative;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 1px;
                color: $text;
                padding: 0 16px;
                font: unset;
                margin: 0;
            }
            &-price {
                @include flexAJ(center, center);
                padding: 8px 20px;
                transition: $transition-time;
                opacity: 0;
                visibility: hidden;

                color: $text;
                font-weight: 300;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-right: 10px;
            }
            &-submit {
                display: inline-block;
                padding: 8px 20px;
                background: var(--color-primary);
                border-radius: 8px;
                margin-top: 10px;
                text-decoration: none;
                font-weight: 400;
                color: var(--color-white);
                opacity: 0;
                transform: translateY(50px);
                transition: calc(#{ $transition-time } / 2);
            }
            &:hover {
                cursor: pointer;
                @include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.4));
                #{ $card }-img {
                    top: 0%;
                    transform: translateY(-8%) scale(.8);
                }
                #{ $card }-content {
                    height: 100px;
                }
                #{ $card }-price {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: .3s;
                }
                #{ $card }-submit {
                    opacity: 1;
                    transform: translateY(0px);
                    transition-delay: .4s;
                }
            }
        }
        // ======= CARD ====== //

        // dashboard responsive
        @include desktop {
            padding-top: 40px;
        }
    }
    // =======DASHBOARD======= //
}