@import "src/scss/responsive";
@import "src/scss/mixins";

:host {
    .card {
        height: 400px;
        @include border-radius(10px);
        overflow: hidden;
        cursor: pointer;
        position: relative;
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
        color: var(--color-white);
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @include transition(all .2s ease-out);
            filter: brightness(.8);
        }
        h3 {
            position: absolute;
            inset: auto 20px 20px 20px;
            margin: 0;
            @include transition(inset .3s .3s ease-out);
            font-weight: 400;
            text-transform: uppercase;
            font-size: 18px;
            color: inherit;
        }
        ::ng-deep p, a {
            position: absolute;
            opacity: 0;
            max-width: 80%;
            @include transition(all .3s ease-out);
            color: inherit;
            font-size: 14px;
        }
        
        ::ng-deep p {
            inset: auto 20px 80px 20px;
        }
        
        a {
            inset: auto auto 40px 20px;
            @include flexAJ(center, center);
            ::ng-deep mat-icon {
                margin-left: 10px;
            }
            &:hover {
                @include transform(translateX(5px));
            }
        }
        &:hover img {
            filter: brightness(.3);
        }
        &:hover h3 {
            inset: auto 20px 280px 20px;
            transition: inset .3s ease-out;
        }
        
        &:hover ::ng-deep p, &:hover a {
            opacity: 1;
            transition: opacity .5s .1s ease-in;
        }
        
        &:hover img {
            transition: opacity .3s ease-in;
            opacity: 1;
        }
    }
}