app-zoom-image {
    .zoom-image {
        img {
            transition: opacity .5s;
            display: block;
            width: 100%;
            &:hover {
                opacity: 0;
            }
        }
        background-position: 50% 50%;
        position: relative;
        width: 100%;
        overflow: hidden;
        cursor: zoom-in;
    }
}