@import "src/scss/responsive";
@import "src/scss/mixins";

:host {
    .app-breadcrumb {
        margin: 0;
    }
    .about-page {
        overflow-x: hidden;
        // h3 {
        //     color: var(--color-black-light);
        //     @include flexAJ(center, center);
        //     @include --flexWrap();
        //     font-weight: 700;
        //     font-size: 25px;
        //     letter-spacing: 1px;
        //     @include desktop {
        //         margin: 0 0 30px 0;
        //         font-size: 30px;
        //         font-weight: 900;
        //     }
        //     span {
        //         display: block;
        //         &:nth-child(2) {
        //             margin: 10px 0;
        //             font-size: 16px;
        //             @include desktop {
        //                 font-size: 20px;
        //             }
        //         }
        //     }
        // }
        h3 {
            text-align: center;
            color: var(--color-black-light);
            a {
                color: var(--color-black);
                font-weight: 600;
            }
            p {
                @include flexAJ(center, center);
                @include --flexWrap(wrap);
                text-align: center;
                span {
                    display: block;
                    position: relative;
                    margin: 5px 10px;
                    line-height: 1.1;
                    &::before, &:after {
                        content: '';
                        position: absolute;
                        @include border-radius(50%);
                        width: 2px;
                        height: 2px;
                        background-color: var(--color-black-light);
                        top: calc(50% - 1px);
                    }
                    &::before {
                        left: -11px;
                    }
                    &::after {
                        right: -11px;
                    }
                }
            }
        }
        p {
            font-size: 14px;
            font-weight: 300;
            color: var(--color-black-light);
            margin-bottom: 20px;
            text-align: justify;
            @include desktop {
                font-size: 16px;
            }
        }
        .quote {
            @include flexAJ(center, center);
            gap: 30px;
            position: relative;
            @include desktop {
                margin-bottom: 20px;
            }
            img {
                z-index: 1;
                @include phone {
                    display: none;
                }
                @include tablet {
                    width: 50%;
                    position: absolute;
                    left: -20%;
                }
                @include desktop {
                    width: 50%;
                    position: absolute;
                    left: -20%;
                }
                @include lg-desktop {
                    width: 50%;
                    position: static;
                }
            }
            p {
                display: block;
                padding: 30px 30px 30px 50px;
                font-style: italic;
                position: relative;
                background-color: var(--color-quote-bg);
                border-left: 6px solid var(--color-quote);
                @include animation(entrance--float-left 1s ease 1s);
                &:nth-child(2) {
                    @include animation(entrance--float-left 1s ease 1.2s);
                }
                &:before {
                    content: "\201C";
                    font-family: Arial;
                    font-size: 60px;
                    position: absolute;
                    left: 10px;
                    color: var(--color-quote);
                }
                @include tablet {
                    width: 70%;
                    margin-left: auto;
                }
                @include desktop {
                    width: 70%;
                    margin-left: auto;
                }
                @include lg-desktop {
                    width: unset;
                    margin-left: auto;
                }
            }
        }
    }
}