<div class="about-page">
    <app-header></app-header>
    
    <!-- about us -->
    <div class="container">
        <h3 class="tac"><span>PCCC TIÊN PHONG</span><span>-</span><span>Giải Pháp An Toàn Chuyên Nghiệp</span></h3>
        <p><a color="primary" [routerLink]="['']">PCCC Tiên Phong</a> là một công ty chuyên cung cấp trang thiết bị phòng cháy chữa cháy uy tín, được thành lập vào năm 2023 và có trụ sở tại thành phố Tuyên Quang, Việt Nam. Với cam kết đảm bảo an toàn cho cộng đồng, <a color="primary" [routerLink]="['']">PCCC Tiên Phong</a> đã nhanh chóng xây dựng mục tiêu trở thành tổng kho cung cấp vật tư phòng cháy chữa cháy cho toàn bộ khu vực Tây Bắc, Việt Nam.</p>
        <p>Tầm nhìn của <a color="primary" [routerLink]="['']">PCCC Tiên Phong</a> là trở thành một đơn vị hàng đầu trong lĩnh vực phòng cháy chữa cháy, mang đến những giải pháp an toàn chuyên nghiệp, hiệu quả và đáng tin cậy cho các khách hàng và đối tác. Chúng tôi cam kết cung cấp sản phẩm và dịch vụ chất lượng cao, đồng thời đảm bảo giá cả hợp lý và dịch vụ hậu mãi tận tâm.</p>
    </div>
    <div class="quote container">
        <img src="/assets/images/common/decor3.png" alt="">
        <div>
            <p>Công ty chúng tôi tự hào là đối tác tin cậy của các doanh nghiệp, tổ chức, cơ quan chính phủ và các công trình xây dựng quan trọng. Chúng tôi cung cấp một loạt các sản phẩm phòng cháy chữa cháy đa dạng, bao gồm các loại bình chữa cháy, thiết bị báo cháy, đèn thoát hiểm, bộ áo phòng cháy và nhiều thiết bị phòng cháy chữa cháy khác.</p>
            <p>Đội ngũ nhân viên giàu kinh nghiệm và được đào tạo chuyên sâu về an toàn phòng cháy chữa cháy của chúng tôi sẽ tư vấn và hỗ trợ bạn trong việc lựa chọn các giải pháp phù hợp nhất với nhu cầu của bạn. Chúng tôi cam kết cung cấp dịch vụ chuyên nghiệp, nhanh chóng và luôn sẵn sàng hỗ trợ 24/7 trong trường hợp khẩn cấp.</p>
        </div>
    </div>
    <div class="container">
        <p>Cùng với sứ mệnh hỗ trợ cộng đồng an toàn hơn, <a color="primary" [routerLink]="['']">PCCC Tiên Phong</a> cũng đóng góp vào bảo vệ môi trường và cộng đồng xanh - sạch - đẹp. Chúng tôi cam kết tăng cường các biện pháp bảo vệ môi trường trong quá trình kinh doanh và hướng dẫn sử dụng sản phẩm an toàn cho môi trường.</p>
        <p>Hãy tin tưởng chọn <a color="primary" [routerLink]="['']">PCCC Tiên Phong</a> làm đối tác của bạn trong việc xây dựng một môi trường an toàn và bảo vệ tài sản của bạn. Chúng tôi sẵn lòng đồng hành và phục vụ bạn mọi lúc, mọi nơi.
    </div>
    <!-- about us -->

    <app-footer></app-footer>
</div>

