<app-layout-full-page>
    <div class="cs-details-page">
        <div class="container">
            <ng-container *ngIf="item; else notFound">
                <div class="app-breadcrumb">
                    <a [routerLink]="['']">Trang chủ</a><span>/</span><a [routerLink]="['/dich-vu']">Dịch vụ PCCC</a><span>/</span><p>{{ item.name }}</p> 
                </div>
                <div class="cs-details">
                    <div class="post-details" [innerHTML]="item.content"></div>
                    <button [routerLink]="['/lien-he']" class="submit-btn">Liên hệ ngay</button>
                </div>
            </ng-container>
            <ng-template #notFound>
                <p class="not-found">Dịch vụ quý khách tìm kiếm không có kết quả. <a [routerLink]="['/dich-vu']">Quay lại trang dịch vụ</a></p>
            </ng-template>
        </div>
    </div>
</app-layout-full-page>