:host {
    width: 100%;
    .home-banner {
        img {
            width: 100%;
        }
        swiper-container {
            margin: 0 auto;
            width: 100%;
            height: 350px;
        }
        swiper-slide {
            width: 100%;
            height: 100%;
        }
        .swiper-pagination-bullet {
            background: var(--color-primary);
        }
        .swiper-pagination-bullet-active {
            background: var(--color-primary);
        }
    }
}