<div class="layout">
    <div class="layout-content">
        <div class="layout-header" (scroll)="onscroll()" [ngClass]="{ 'sticky-header': stickyHeader }">
            <app-header></app-header>
        </div>
        <ng-content></ng-content>
    </div>
    <div class="layout-footer">
        <app-footer></app-footer>
    </div>
</div>
<div class="access-btn">
    <a class="access-btn-zalo">
        <app-access-button [appCall]="'hotline'" [tooltip]="{ content: 'Kết nối qua Zalo', pos: 'right' }">
            <ng-container content>
                <a class="access-zalo">
                    <img src="/assets/images/contact/zalo.png" alt="zalo">
                </a>
            </ng-container>
        </app-access-button>
    </a>
    <a class="access-btn-fb" href="{{ appFB }}" target="_blank">
        <app-access-button [tooltip]="{ content: 'Facebook', pos: 'right' }">
            <ng-container content>
                <a class="access-fb">
                    f
                </a>
            </ng-container>
        </app-access-button>
    </a>
    <a class="access-btn-call">
        <app-access-button [appCall]="'hotline'" [tooltip]="{ content: 'Liên hệ trực tiếp', pos: 'right' }">
            <ng-container content>
                <a class="access-call">
                    <img src="/assets/images/contact/call.png" alt="Hotline">
                </a>
            </ng-container>
        </app-access-button>
    </a>
</div>