@import "src/scss/responsive";
@import "src/scss/mixins";

:host {
    background-color: black;
    @keyframes sticky__header {
        from {
            @include transform(translateY(-100%));
        }
    }
    $bg: #fafafa;
    .layout {
        width: 100%;
        min-height: 100vh;
        @include flexAJ();
        @include --flexDir(column);
        background: $bg;
        &-content {
            width: 100%;
            @include --flex(1, 0, auto);
        }
        &-header {
            background-color: $bg;
            width: 100%;
            position: static;
            @include transition(all 0.6s ease-out);
            top: -50px;
            &.sticky-header {
                z-index: 101;
                position: fixed;
                top: 0;
                left: 0;
                @include box-shadow(rgba(0, 0, 0, 0.1) 0px 4px 12px);
                @include animation(sticky__header 1s both);
            }
        }
        &-footer {
            @include --flexShrink(0);
        }
        @keyframes move-aside {
            0% {
                right: 0;
            }
            20% {
                transform: scale(.9);
            }
            40% {
                transform: scale(.9);
            }
            100% {
                right: 250px;
                transform: scale(.9);
            }
        }
        @keyframes reform {
            to {
                right: 0;
                transform: scale(1);
            }
        }
        &--move-aside {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            z-index: 2000;
            position: fixed;
            top: 0;
            height: 0; // needed
            border-radius: 10px;
            overflow: hidden;
            // transition: cubic-bezier(0.13, 0.13, 0.08, 0.8) .3s;
            @include animation(move-aside .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards);
        }
        &--reform {
            right: 0;
            transform: scale(1);
        }
    }
    .side-menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-primary);
        opacity: 0;
        z-index: -100;
        ul {
            width: 80%;
            margin-left: auto;
            li {
                padding: 20px;
                a {
                    display: block;
                    line-height: 20px;
                    font-size: 16px;
                    color: var(--color-white);
                    text-transform: uppercase;
                    font-weight: 400;
                    text-align: right;
                    width: 100%;
                }
            }
        }
        .logo {
            opacity: .1;
            position: fixed;
            z-index: 1000;
            top: 50px;
            right: -450px;
            width: 800px;
            height: 600px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &--active {
            opacity: 1;
            z-index: 1000;
        }
    }
    ::ng-deep .access-btn {
        $s: 50px;
        $center: calc(50vh - #{ $s / 2 });
        &-call {
            .access-button {
                position: relative;
                width: 50px;
                height: 50px;
                background-color: var(--color-positive) !important;
                bottom: calc(#{ $center } - 70px) !important;
            }
            app-hotline {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-zalo {
            .access-button {
                bottom: $center !important;
            }
        }
        &-fb {
            .access-button {
                bottom: calc(#{ $center } + 70px) !important;
            }
        }
    }
}