@import "./mixins";

@keyframes entrance--float-up {
    from {
        opacity: 0;
        @include transform(translateY(50px));
    }
}
@keyframes entrance--float-down {
    from {
        opacity: 0;
        @include transform(translateY(-50px));
    }
}
@keyframes entrance--float-left {
    from {
        opacity: 0;
        @include transform(translateX(50px));
    }
}
@keyframes entrance--float-right {
    from {
        opacity: 0;
        @include transform(translateX(-50px));
    }
}
@keyframes entrance--fadeIn {
    from {
        opacity: 0;
    }
}