@import "src/scss/mixins";

.form {
    &__control {
        margin: 10px 0;
        &__title {
            font-size: 13px;
            color: var(--color-black-light);;
        }
        &__content {
            input, textarea {
                outline: none;
                width: 100%;
                background: var(--color-white);
                padding: 0 16px;
                color: var(--color-black-light);;
                border: 1px solid var(--color-black-light);;
            }
            input {
                line-height: 38px;
            }
            textarea {
                min-height: 100px;
                padding: 20px 16px;
            }
        }
        &__error {
            p {
                margin: 3px 0;
                font-size: 13px;
                color: var(--color-negative);

                &:before {
                    content: '*';
                    color: var(--color-negative);
                }
            }
        }
        &--disabled {
            user-select: none;
            input {
                color: var(--color-black-disabled);
            }
        }
    }
    &__actions {
        margin: 10px 0;
        @include --flexbox();
        @include --flexA(center);
        button {
            border: none;
            outline: none;
            padding: 0 20px;
            margin: 5px 10px;
            line-height: 38px;
            text-align: center;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__submit {
        background-color: var(--color-primary);
        color: var(--color-white);
        &:hover {
            background-color: var(--color-primary-light);
        }
    }
}