$palettes: (
    primary: (
        A: #d31336,
        A1: #ce314e,
		A2: #7c0b20,
		A3: #851616,
	),
    secondary: (
        A: #ff5733,
        A1: #fc876d,
		A2: #8d311c,
	),
	base: (
		A: #f4f6eb
	),
    black: (
        A: #000,
        A1: #252131,
	),
	green: (
		A: #65BC52,
		A1: #8ec283,
		A2: #407434
	)
);

@function color($color, $tone) {

	@if map-has-key($palettes, $color) {
		$getColor: map-get($palettes, $color);
		$getTone: map-get($getColor, $tone);

		@return $getTone;
	}

	@return null;
}
