@import "src/scss/responsive";
@import "src/scss/mixins";

:host {
    .footer {
        &-wrap {
            border-top: 1px solid var(--color-primary-dark);
            @include flexAJ();
            @include --flexWrap();
            @include desktop {
                @include --flexA(stretch);
            }
            > div {
                padding: 30px;
                position: relative;
                text-align: center;
                @include lg-desktop {
                    text-align: left;
                    padding-top: 50px;
                }

                &:nth-child(1) {
                    order: 2;
                    width: 100%;
                    @include desktop {
                        padding: 50px;
                        order: 1;
                        width: 50%;
                    }
                    @include lg-desktop {
                        width: calc(100% / 3);
                    }
                }
                &:nth-child(2) {
                    order: 1;
                    width: 100%;
                    position: relative;
                    
                    @include desktop {
                        padding: 50px;
                        order: 2;
                        width: 50%;
                    }
                    @include lg-desktop {
                        width: calc(100% / 3);
                    }
                }
                &:nth-child(3) {
                    order: 3;
                    width: 100%;
                    @include lg-desktop {
                        width: calc(100% / 3);
                    }
                }
            }
        }
    }
    .company-intro {
        a {
            color: var(--color-black-light);
            img {
                width: 60px;
            }
        }
        b {
            font-weight: 400;
        }
        a + div {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 3px;
            p {
                margin-top: 5px;
                @include flexAJ(center, center);
                @include --flexWrap(wrap);
                text-align: center;
                color: var(--color-black-light);
                font-size: 14px;
                font-weight: 300;
                @include lg-desktop {
                    @include --flexJ(flex-start);
                    padding-left: 4px;
                }
                span {
                    display: block;
                    position: relative;
                    margin: 5px 10px;
                    line-height: 1.1;
                    &::before, &:after {
                        content: '';
                        position: absolute;
                        @include border-radius(50%);
                        width: 2px;
                        height: 2px;
                        background-color: var(--color-black-light);
                        top: calc(50% - 1px);
                    }
                    &::before {
                        left: -11px;
                    }
                    &::after {
                        right: -11px;
                    }
                }
            }
        }
        a + div + p {
            color: var(--color-black-light);
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 14px;
        }
    }
    .page-routes {
        li {
            margin: 20px 0;
            &:first-child {
                margin-top: 0;
            }
        }
        a {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--color-primary);
        }
    }
    .company-info {
        @include flexAJ(flex-start, center);
        li {
            margin-bottom: 8px;
            &:not(&:first-child) {
                margin-top: 8px;
            }
            @include flexAJ();
            > * {
                &:first-child {
                    font-weight: 400;
                    min-width: 60px;
                    margin-right: 20px;
                    text-align: center;
                    @include --flex(0, 0, auto);
                }
                &:last-child {
                    flex: 1;
                    display: block;
                    text-align: left;
                }
            }
        }
        li, span, a, p {
            font-size: 14px;
            font-weight: 300;
        }
        a {
            color: var(--color-secondary);
        }
        ::ng-deep mat-icon {
            text-align: right;
        }
        .curpnt {
            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}