<div class="footer">
    <div class="footer-wrap">
        <div class="company-intro">
            <a class="logo-mini" [routerLink]="['']">
                <img src="/assets/images/logo/logo.png" alt="">
            </a>
            <div>
                <a [routerLink]="['']"><b>CÔNG TY TNHH XÂY DỰNG VÀ PHÒNG CHÁY CHỮA CHÁY TIÊN PHONG</b></a>
                <p><span>Tiên phong</span><span>An toàn</span><span>Chuyên nghiệp</span><span>Hiện đại</span></p>
            </div>
            <p>Tự hào là đối tác tin cậy của các doanh nghiệp, tổ chức, cơ quan chính phủ và các công trình xây dựng quan trọng. Chúng tôi cung cấp một loạt các sản phẩm phòng cháy chữa cháy đa dạng, bao gồm các loại bình chữa cháy, thiết bị báo cháy, đèn thoát hiểm, bộ áo phòng cháy và nhiều thiết bị phòng cháy chữa cháy khác.</p>
        </div>
        <div class="page-routes">
            <ul>
                <li><a [routerLink]="['']">trang chủ</a></li>
                <li><a [routerLink]="['/gioi-thieu']">giới thiệu</a></li>
                <li><a [routerLink]="['/thiet-bi-pccc']">sản phẩm</a></li>
                <li><a [routerLink]="['/dich-vu']">dịch vụ</a></li>
                <li><a [routerLink]="['/lien-he']">liên hệ</a></li>
                <li><a [routerLink]="['/cam-nang-pccc']">cẩm nang pccc</a></li>
            </ul>
        </div>
        <div class="company-info">
            <ul>
                <li><span>Đại diện</span><span>(Ông) Phạm Xuân Văn</span></li>
                <li><span>Chức vụ</span><span>Giám đốc</span></li>
                <li>
                    <span><mat-icon aria-hidden="false" fontIcon="stay_current_portrait"></mat-icon></span>
                    <app-hotline [call]="'support'" [elType]="'hyperlink'"></app-hotline>
                </li>
                <li>
                    <span><mat-icon aria-hidden="false" fontIcon="location_on"></mat-icon></span>
                    <span><app-address></app-address></span>
                </li>
                <li>
                    <span><mat-icon aria-hidden="false" fontIcon="email"></mat-icon></span>
                    <a href="javascript:void(0)">ctytienphongtq@gmail.com</a>
                </li>
                <li>
                    <span>MST</span>
                    <span>5000 844 563 đăng ký tại sở kế hoạch và đâu tư tỉnh Tuyên Quang</span>
                </li>
                <li>
                    <span>STK</span>
                    <span><span class="curpnt" (click)="copyBankNumber('110002644801')">110002644801</span> Ngân hàng cổ phần TM công thương Việt Nam (VietinBank)</span>
                </li>
            </ul>
        </div>
    </div>
</div>